
.header {
  background-color: rgba(255,255,255,0);
  display: flex;
  justify-content: left;
  padding: 0;
  position: fixed;
  z-index: 100;
  transition: background-color .5s; /* 背景色と高さをじんわり変更 */
  width: 100vw;
  height: 90px;
  margin: 0;
}

@media screen and (max-width: 960px)
  {
  .header {
    position: fixed;
    height: 10svh;
  }
}
/* ファーストビューを過ぎたあとのヘッダー */
.header.transform {
  background-color: rgba(255,255,255,1.0); /* 背景の透過を解除 */
  box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.1);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 150px;
  height: auto;
}
@media screen and (max-width: 960px)
  {
    .header-logo {
      width: 80px;
      height: auto;
    }
}